<div class="homePage">
<h1><strong>Bienvenue sur le site e-Commerce !!</strong></h1><br>
<h3>Vous trouverez ici les produits multimédia les plus demandés et au meilleur prix</h3>
<h3>Besoin d'un nouvel ordinateur? Venez jeter un oeil aux produits que l'on propose</h3>
<h3>Une nouvelle tablette, afin de pouvoir lire la presse internationale pendant que vous regardez la télévision?</h3>
<h3>Vous allez adorer tous les produits que nous proposons!</h3>
<h2>Visitez dès maintenant notres site, cliquez sur l'onglet 'Liste des produits'</h2><br><br>
<h2>afin d'afficher tous nos produits, ou bien cliquez sur 'Catégories' pour accéder aux différentes familles de produit !</h2>
</div>