<div class="homePage">
    <h1><strong>Bienvenue sur le site e-Commerce !!</strong></h1><br>
    <h3>Vous trouverez ici les produits multimédia les plus demandés et au meilleur prix<br>
        Besoin d'un nouvel ordinateur? Venez jeter un oeil aux produits que l'on propose<br>
        Une nouvelle tablette, afin de pouvoir lire la presse internationale pendant que vous regardez la
        télévision?<br>
        Vous allez adorer tous les produits que nous proposons!</h3><br>
    <h2>Visitez dès maintenant notres site, cliquez sur l'onglet 'Liste des produits'<br>
        afin d'afficher tous nos produits, ou bien cliquez sur 'Catégories' pour accéder aux différentes familles de
        produit !</h2>
</div>